<pr id ="pic-asci" class="asci-pic" >
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%*++++===+*##%#%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%%%%%%%
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%#+++++===+*##%#%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%%%%%%%
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%*++++==+*###%%%%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%%%%%%
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%*++++=++*#%#%%#%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%%%%%%
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%#*++++++*##%%%%%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%%%%%
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%#*++++=+**#%%%%%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%%%%%%%
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%#**+++++*#%%%%%%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%%%%%%
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%#*+++++**#%%%%%%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%@@%%%@@%
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%#*+++++*##%%%%%%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%@%%%@%
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%**+++++*#%%%%%%%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%%@%@%
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%#+++++**#%%%%%%%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%%%@%@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%#+++++**#%%%%%%%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%%%@%@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%**++++**#%%%%%%%%@@@@@@@@@@@@@@@@@@@@@@@@@@%%%%%%%@%%@%%%%%
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%**++++*#%%%@%@%@@@@@@@@@@@@@@@@@@@@@@@@@@%%%%%%%%%%%%@@%%@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%*++++**#%@@@%@%@@@@@@@@@@@@@@@@@@@@@@@@@@%@%%%%%%%%%@%@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%*++++**#%@@@%@%@@@@@@@@@@@@@@@@%@@@@@@@@%#%######%%@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%#*++++**#%%@%@%%@@@@@@@@@@@@@@%%@@@@@@@@%####**###%%@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%#*+++++*#%%@%@%@@@@@@@@@@@@@%%@@@@@@@@@%%%%###**##%%@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%#+++++**%%%%%%%@%%@@@@@@@@@%@@@@@@@@@@%%@%%#****###%%@%@@@@@
@@@@@@@@@@@@@@@@@@@%@%@@@@@@@@@@@@@@@@@%*+=+++*#%%%%%@@@@@%%%%%%%%%%%%@@@@@@@@@@@%##**++**#%%@@@@@@@
@@@@@@@@@@@%@@@@@@@@@@@@@@@@@@@@@@@@@%@%*+=+++*#%@@@%@%%@@%%%%%%%%%%%%@@@@@@@@@@%#***+++**#%%@@@@@@@
@@@@@@@@@@@%%@@@@@@@@@@@@@@@@@@@@@@@%@@%*====++*%@%@%%%%@@%%#%%%%%%%@@@@@@@@@@@@@%##*++**#%%%@@@@@@@
@@@@@@@@@@%%%%@@@@@@@%%@@@@@@@@@@@@%%%%#*++==++#@@@@%%%@%%%%%%##%%%%@@@@@@@@@@@%%#+++==+*#%%@@@@@@@@
@@@@@@@@@@%%###%@@@@@%%%@@@@@@@@%%####%%##**##%%@@@@@%%%%%%%%#***%%@@@@@@@@@@@@@@#*++=+*##%%%@@@@@@@
@@@@@@@@@@@#*++#%@@@%%%%%@@@@@%@%##***##%##*#%@@@@@@%##*#%%%#***###%@@@@@@@@@@@@@%#**+*%%%%%%%@@@@@@
@@@@@@@@@@@#+==*#%##%##%%%%%%%%%%%*****#%%%%%@@%%%%*+===+***++****+*#%%%@@%%##%%%#****%@@%%%%%@@@@@@
@@@@@@@@@@@%+==+####***#%%%%%%%%******###%@@@@@%%%#+-=++*##***++++++**%%%#%%%%##**+==*%%%%%%%%%@@@@@
@@@@@@@@@@@%**+++++****%%@@@%####%%**+*%@%@@@@%%%#+-=++******########+***###%%#*=--=+#%#*#%%%@@@@@@@
@@@@@@@@@@@%+++++****##%@@@@@%*%###*+*#%%@@@@@%%%#*===+****####%%%%%%%%%#*#%##=----=*#*+#%@#%@@@@@@@
@@@@@@@@@@@%#********%%@@@@@@@%%#**+++#%@@@@@@%%#*=--==++***#%%%%%%%%%%%#*#*++===-=**++#%%%#%@@@@@@@
%@@@@@@@@@@%##*==+*###%@@@@@@@@@%#**#*#@@@@@@@%##+=----=+*#*==+**###%%%%%%#####++**++*#%#%%%%@@@@@@@
=+#%@@@@@@@%%%%#**##%%%@@@@@@@%%#**#%#%%@@@@@@%#*+=--:-++++*=......-++-*%%%##**+*#++#%%#%%%%%@@@@@@@
::=*#%%%%%%%%%%#*#%%#%%@@@@@@@@%%**%#+*#%@@@@%#*+*++=-=++-:...:++:....-=+*#####***#%%%@@@@##@@@@@@@@
---=+##%%%%######%%%%+::-+#%%%%@%*+*%%%%%@@%#*+==++++*++=....=@@@%+:...:**++*######%%@@@@@%%@@@@@@@@
===++=+*%%##%%%%%%%*-..:+%@@%%%%#*#%@@@@@@@#***==**++**++=...+@@%#-:....+*++**###%#%%@@@@@@@@@@@@@@@
==+*++*#%#*#%%%%%%#-..:*@@%%*-#%##@@@@@@@@@@@@%#***#*#*=+#+...-%%%+....=*+++=====+*###@@@@@%@@@@@@@@
+=----=+**##%%%@%%*:..:*%@%%+#%#%@@@@@@@@@@@@@%#*+*#**##*#@#-...:::-+#+=---===++*#*++++%@@%%%@@@@@@@
*+==++++*#%%@@@@@%*-..::-*+=#%%@@@%%@@@@%%%%@@%#*+**++*##%@@@@@@@%%%%#*++++++===*#%#+++*%%%%%@@@@@@@
***####%@@@@@@@@@@@@%##***#%@@@@@@@%#%%####**#%%%******##%#%#%%%%%###****++++==++###*****#%%%@@@@@@@
##%%%%@@@@@@@@@@@@@@@@@@@%%@@@@@%%%##*#******+*###*++==+**************+=-==+*####%%%%#*#####%@@@@@@@
%%%%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#*#%##@@@@@@%#+++++++++==----========*****##*########%###%@@@@@@@
%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%#%##%@@@@#*#####*==-------=========*###****++***##%%%%%%%@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@##%###%*++#%%%%#*++=========+*+*++++#####*++==++##%%%%%%%@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%##%@@@%%%###++%%%%%%%#*++=+==========+*#***#*+++++==+*##%%%%%%%@@@#**+
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%@@@@@@@@@@@@%%%%%##*+**++====++###%%%###***####+=++*#%######*+==--
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%@@@@@@@@@@%%%%%#####**+++=+***###%%##****##*+=++*##%%#*=-+=-====
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%@@@@@@@@@@@@@@%%###***+++=+++++++*%##***##**++*###%%*=---=-==+++
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%###*+*++=====+**###*++=++=+**####%%#+=-::-===+++
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%%%#*****=++++*##%%#%%%#******#*####%%*=--::======+
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%%@#+++++======+*#%%#%#*######%%#%#%%%+=-:::======+
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%%%####%#%%%%@%#**#%%%%%%%@@@@%%%%%%#+=-:::=======
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%%%%%@@@@@@@@@@%@@@@@@@@@@%%%%%#+=--::=======
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%#%%%@@@@@@@@@%@@@@@@@@@@@@@@@@@@@@@@@%%%%%#+=--::===++++
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%@@@@@@@@@@@@@@@@@@@@@@@%%%%#*+=-----===++=
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%@@@@@@@@@@@@@@@@@@@@@@%@@@@@@@%@@@@@@@@@@@@%#**##*==---====+==
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%@@%%@@@@@@@@@@@@@@@@%%%@@%%%%%%@@@@@@@@@@@%##*****+=--++=-===
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%@@@@@@@@@@@%%@@@@@@@@@@@@@@@@@@@@@@@%##**####*+=+++=--=
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%@@@@%%%%%@@@@@@@@@@@@@@@@@@@@@%%%%##%%%%%%%%+=---::
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%%@@@@@@@@@%%@@@%+===---
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%@@@@@@@@@@@@@@@@@%%%@@@%**+===-
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%%%@@@#%%*===
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%@@@@@%%*===
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%%@@@@%%*++=
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%##%%@@@@@@%%**
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%###%%@@@@@@@%#*
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%%%@%%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%###%%@@@@@@@@#
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%%@@%%%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%%%%%#%@@@@@@%#*
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%@@@@@%%%@%%%%@@@%@@@@@@@@@@@@@@@@@@@@%##**#%%@@@@@@@%**
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%@@@@%%%%%@@@%%%@@@@@@@@@@@@@@@@@@@@@@@%%%%%#%%@@@@@@@@#*+
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%@@@@%%%%%%%%%%%%%%%%@@@@@@@@@@@@@@@@@%%######%%%@@@@@@%#++
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%%%%%%%%#%%%%#%%%%%%%%%%@@@@@@@@@@@@@@@@%%%%####%%@@@@@@@@#+=
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%##%%%%%%%%%@@%%%%%%%%@@@@@@@@@@@@@@@@@@@@@@@%#*######@@@@%#+--.
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%##%%%%%%%%%%@%%%%%%@@@@@@@@@@@@@@@%@@@%@@@%%######%@@@@@%#+---=
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%%%%%%%%@@@%%%@%%@@@@@@@@@@@@@@@@@@@%%#%%%%###*##%%@@@@%#+==+
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%@%%@@@@%@@@@@@%%%@@%@@%@@@%@@@@@@@@@@%@@@%%%%#####%%%@@@@##**++*
</pr>