
<!-- Intro Section -->
<div id="id-home" class="container">
    <div class="row">
        <div class="col-1 hidden-sm"></div>
        <div class="col-5">
            <div class="row">
                <h1> HI, I'M ABHIJIT LEIHAORAMBAM</h1>
            </div>
            <div class="row">
                <div class="content">
                    <ul>
                        <li>_Programmer.</li>
                        <li>_Tools Developer.</li>
                        <li>_3D Generalist.</li>
                </ul>
                </div>
            </div>
            <div class="icon-row">
    <div class="icon-col" >
        <a href="https://www.instagram.com/labhijits/" target="_blank" title="Instagram"><i class="fa-brands fa-instagram fa-2x"></i></a>
    </div>
    <div class="icon-col" >
        <a href="https://www.artstation.com/labhijits" target="_blank" title="Artstation"><i class="fa-brands fa-artstation fa-2x"></i></a>
    </div>
    <div class="icon-col" >
        <a href="https://twitter.com/leihaorambam" target="_blank" title="Twitter"><i class="fa-brands fa-twitter fa-2x"></i></a>
    </div>
    <div class="icon-col" >
        <a href="https://github.com/AbhijitL" target="_blank" title="Github"><i class="fa-brands fa-github fa-2x"></i></a>
    </div>
    <div class="icon-col" >
        <a href="https://www.youtube.com/channel/UC3MOEDdCSSyfCvmUrtln0Cg" target="_blank" title="Youtube"><i class="fa-brands fa-youtube fa-2x"></i></a>
    </div>
</div>
            <div class="gap" ></div>
            <div class="row">
                <button class="full" >RESUME</button>
            </div>
            <div class="gap" ></div>
        </div>
        <!-- <div class="col-1 hidden-sm"></div> -->
        <div class="col-5">
            <figure>
                <img
                class="intro-img"
                src="{{ site.baseurl }}/assets/img/picme.jpg"
                />
                <figcaption style="text-align: center;">Meet thy doom</figcaption>
            </figure>
        </div>
    </div>
</div>
<!-- End of Intro Section -->
<div class="gap"></div>
<!-- ShowCase -->
<div class="container">
    <div class="content">
        <h1> Showcase </h1>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    <img class="center-img give-shadow" src="{{ site.baseurl }}/assets/img/apps/audio.gif" />
                    <div class="row">
                        <h2> Audio development </h2>
                        <p>I have been into audio development lately, and currently working on some audio related or vst projects.</p>
                    </div>
                </div>  
            </div>
        </div>
        <div class="col-5">
            <div class="content">
                <div class="row">
                    <img class="give-shadow" src="{{ site.baseurl }}/assets/img/apps/zaza.gif" width="200px"/>
                </div>
                <div class="row">
                    <h2> Mobile App Development</h2>
                    <p>I have developed quite few mobile apps in this past years mainly using flutter and native kotlin.</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="content">
                    <img class="center-img give-shadow" src="{{ site.baseurl }}/assets/img/games/gg.jpg"/>
                    <div class="row">
                        <h2>Game Development</h2>
                        <p> Game dev was the reason my programming journey started and have been doing for quite long years.
                            Currently working on a Nier automata fan made game in CryEngine.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="content">
                    <img class="center-img give-shadow" src="https://i.ibb.co/QMx130c/abhijit-leihaorambam-socialposts1.jpg"/>
                    <div class="row">
                        <h2>3D Generalist</h2>
                        <p> I have been into 3D related work since teenager and still continuing.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="content">
                    <img class="center-img give-shadow" src="{{ site.baseurl }}/assets/img/apps/NodNote.gif" />
                    <div class="row">
                        <h2> Tools Development </h2>
                        <p>I developed tools for projects or for day to day utility applications.</p>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>
<!-- End of ShowCase -->
<div class="gap"></div>
<!-- Data -->
<div class="container">
    <div class="content">
        <h1> DATA </h1>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="content">
                <div class="row">
                    <div class="col-4 hidden-sm"></div>
                    <div class="col-3">
                        <div id="chartElement" class="chart give-border "></div>
                    </div>
                    <div class="col-4 hidden-sm"></div>
                </div>
                <div class="last-updated" style="text-align: right;"></div>
                <p>This shows the percentage of selected language written in my github repo excluding forks</p>
            </div>
        </div>
    </div>
</div>
<!-- End of Data -->