<!-- Nav -->
<nav class="navbar">
    <div class="Cfigure">
        <div class="Cfigcaption"> {{ site.title }} </div>
        <div class="Cbutton" id="btnHomePage">Home</div>
        <div class="Cbutton" id="btnArtPage">Art</div>
        <div class="Cbutton" id="btnBlogPostsPage">Blogs</div>
        <div class="Cbutton" id="btnProjects" >Projects</div>
        <div id="id-slide" class="slide-down give-border">
            <div class="Cbutton" id="btnGamePage" >Games</div>
            <div class="Cbutton" id="btnMobilePage" >Mobile App</div>
            <div class="Cbutton" id="btnUtilityPage" >Tools Utility</div>
            <div class="Cbutton" id="btnOtherPage" >Other</div>
        </div>
        <div class="Cbutton" id="btnAboutPage">About</div>
    </div>
</nav>
<!-- End of Nav -->