// About Me

.about-me
    color: #891c09
    font-size: 16px

.aboutme-figure:after
    content:'ꯀ꯭ꯂꯤꯛ'

.aboutme-figure:hover:after
    content:'a975a5be9f1a1fc0cc888face81d88acbcbb57f8934bf94d5d9ad15c66bc4e85'

// End of About Me

// Blog Posts

.give_margin_right_lil
    margin-right: 20px

// Blog Post

.blog-thumb
    text-align-last: center
    margin-top: 10px
    margin-bottom: 20px

.blog-post img
    max-width: 100%
    height: auto

.video-wrapper
    max-width: 100%

.video-wrapper iframe
    max-width: 100%

.blog-post p
    text-align: justify
    text-justify: inter-word

// End of Blog Posts


// Seach

.search-bar-container
    position: fixed
    top: 32px
    right: 16px
    z-index: 2

.search-result
    color: #891c09

.search-result-container
    z-index: 2
    height: auto
    min-width: -1px
    position: fixed
    top: 68px
    right: 16px
    overflow-y: auto
    

ul#results-container 
  padding: 0.5rem
  list-style-type: none
  background-color: #d1cdb7
  border: 0.1rem solid #312e23

#results-container li
  margin: 0.5rem
//   background-color: #bab5a1

span.post-meta 
  font-size: 1rem

// End of Seach