---
layout: default
---

<div id="id-artPage" class="body-content">
    <div class="container">
        <div class="row">
            <div class="content">
                <h1> {{ page.title }} Album </h1>
            </div>
            <div class="row">
                <!-- Gallery -->
                <div style="margin-left: 10px;" class="gallery masonry-gallery">
                {% for image in page.images %}

                <div class="gallery-item">
					<header class='gallery-icon'>
                        <a href="{{ site.baseurl }}{{ image.image_path }}" class="popup"  title="{{ image.caption }}" data-caption="{{ image.copyright }}">
                        <img src="{{ site.baseurl }}{{ image.image_path }}"></a>
					</header>	
					<div class='gallery-caption'>
						<div class="entry-summary" id="{{ image.caption }}">
							<h3>{{image.caption}}</h3>
							<p>{{image.copyright}}</p>
						</div>
					</div>
				</div>

                {% endfor %}
                </div>
                <!-- End of Gallery -->
            </div>
        </div>
    </div>
</div>

