---
layout: default
---

<div class="body-content">
    <div class="container">
        <div class="row">
            <div class="content">
                <h1>{{ page.title }}</h1>
            </div>
            <div class="blog-thumb">
                <img style="max-width: 80%;" class="give-shadow" src=" {{ site.baseurl }}{{ page.thumb }} " />
            </div>
            <div>
                <p style="text-align: left; margin-left: 5px;">Published date: {{ page.date | date_to_string }}   -Author: {{ page.author }}</p>
            </div>
            <div >
                <p style="text-align: left; margin-left: 5px;">Tags:
                    {% for tag in page.tags %}
                        <i class="fa fa-tags" style="color:#a47272;"></i>
                        <a href="/blog_posts/tag/#{{ tag }}" style="text-decoration:none; color:#891c09;">{{ tag }}</a>
                    {% endfor %}
                </p>
            </div>
            <div class=" content give_margin_right_lil blog-post">
                {{ content }}
            </div>
            <div >
                <p style="text-align: left; margin-left: 5px;">Tags:
                    {% for tag in page.tags %}
                        <i class="fa fa-tags" style="color:#a47272;"></i>
                        <a href="/blog_posts/tag/#{{ tag }}" style="text-decoration:none; color:#891c09;">{{ tag }}</a>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
</div>