<!DOCTYPE html>

<html>
    <head>
        {% include head.html %}
    </head>
    <header>
        {% include nav.html %}
        {% include gifypet.html %}
        <div class="pattern">
            <div>
              <div class="pattern-inner"></div>
            </div>
        </div>
        {% include search.html %}
    </header>
    <body>
        <div>
            <h1 style="text-align: center;">Libera me from the Hell.</h1>
        </div>
        {{ content }}
        {% include js-link.html %}
        <div>
            <h1 style="text-align: center;">I will convey your will to this world.</h1>
        </div>
        <div class="credit">
            <img src="{{ site.baseurl }}/assets/img/footer1.gif" ></img>
            <img src="{{ site.baseurl }}/assets/img/monitoronly.gif" ></img>
        </div>
        <div class="pattern">
            <div>
              <div class="pattern-inner"></div>
            </div>
        </div>
    </body>
</html>